@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Indie Flower', cursive;
    background-color: rgb(180, 210, 211);
    color: #fff;
}

h1{
    text-align: center;
    margin-top: 20px ;
    font-size: 3em;
}
p{
    text-align: center;
    font-size: 1.5em;
    margin: 20px 15px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80vw;
    background-color: #fff;
    padding: 20px;
   
}
.card img{
    max-width: 400px;

}
.card p{
    height: fit-content;
    width: 100%;
    background-color: rgba(28, 104, 128, 0.849);
}
.next{
    padding: 8px 12px;
    border: solid 1px rgb(7, 194, 147);
    color: rgb(7, 194, 147);
    text-transform: uppercase;
}
.next:hover{
    border: none;
    color: black;
    background-color: rgb(7, 194, 147);
}
